################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
TowerMasterStudios_Advanced2DGame/x64
